﻿@model MarvinBrouwer.QueryContractContainer.POC.Models.SimplifiedGoogleMapsContract
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <p>&nbsp;</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h1>Example</h1>
        <p class="lead">Just a basic page to show the QueryContract working.</p>
    </div>
    <div class="col-md-4">
        <a href="@Model.ToString()">
            <img width="@Model.Size.Width" height="@Model.Size.Height" src="@Model.ToString()" alt="" />
        </a>
    </div>
</div>